<!DOCTYPE html>
<html>
	<head>
		<title>ToDo App</title>

		<!-- Styles -->
		<link rel="stylesheet" href="/css/main.min.css">

	</head>
	<body>
		<div class="container">
			<div class="row">
				<h1>ToDo App</h1>
			</div>
			<div class="row">
				<ul id="todoList" class="list-group">
				</ul>
			</div>
			<div class="row">
				<form id="form" action="/api/todos" method="POST">
					<div class="input-group">
			            <span class="input-group-btn">
			              <button class="btn btn-success" type="submit">
			                <i class="fa fa-save"></i>
			              </button>
			            </span>
			            <input type="text" class="form-control" placeholder="New task">
		            </div>
				</form>
			</div>
		</div>

		<!-- Scripts -->
		<script src="/js/libs/libs.min.js"></script>

		<!-- Custom Script -->
		<script src="/js/main.min.js"></script>

	</body>
</html>