<!DOCTYPE html>
<html>
	<head>
		<title>ToDo App</title>

		<!-- Styles -->
		<link rel="stylesheet" href="/css/main.min.css">
	</head>
	<body>
		<div class="container">
			<div class="row">
				<h1>Todo App</h1>
			</div>
			<div class="row">
				<ul id="todoList" class="collection">
				</ul>
			</div>
			<div class="row">
				<form id="form" action="/api/todos" method="POST">
				<div class="input-group">
          <span class="input-group-btn">
            <button class="create btn btn-success" type="submit">
              <i class="fa fa-save"></i>
            </button>
          </span>
          <input id="newTask" type="text" class="form-control" placeholder="New task">
				</form>
			</div>
		</div>

		<!-- Libs -->
		<script src="/js/libs/libs.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/js/materialize.min.js"></script>

		<!-- Scripts -->
		<script src="/js/main.min.js"></script>
	</body>
</html>