/* Fonts */
/* Colors */
@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg); } }

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg); } }

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

h1 {
  color: #468966; }

.edit {
  margin-right: 5px; }

span[contenteditable] {
  text-decoration: underline; }

.create {
  padding: 0px; }

.delete {
  padding: 0px; }

.edit {
  padding: 0px; }

.btn {
  height: 35px;
  width: 35px;
  margin-top: -5px; }

#newTask {
  margin-left: 10px;
  margin-top: -15px; }
